section.hero.is-bold{
	background-image: url(amity.jpg);
	background-size: auto;
	background-repeat: no-repeat;
	 background-position: center;
    background-size: cover;
    height: 100vh;

}
 nav.navbar{
 	
 	box-shadow: 0 18px 14px 0 rgba(0, 0, 0, 0.2), 0 20px 24px 0 rgba(0, 0, 0, 0.19); 

 }
